{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="auth-card"></div>
        <h2>Welcome Back</h2>
        <p class="sub-text">
            Login to your account and continue your journey with AI Career Copilot.
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="Enter your Email" required>
            <input type="password" name="password" placeholder="Enter your Password" required>
            <button type="submit">Login</button>
        </form>
        
        <div> class="auth-links">
            <a href="/forgot-password">Forgot Password?</a>
        </div>

    <p class="switch-auth">
        Don't have an account? <a href="/signup">Sign up here</a>
    </p>
</div>

{% end block %}